
html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 2em;
}

article {
  padding: 12px;
  overflow: auto;
  border: 1px grey solid;
  position: relative;
}

img {
  max-width: 100%;

}

article.film {
  display: grid;
  grid-template-columns: 0.6fr 1.2fr;

}

.film-poster {
  display: inline-block;
}


.action-like-other {
  color: red;
  z-index: 100;
  position: absolute;
  bottom: 14em;
  right: 0;
  diplay: inline-block;
}

div.action-watch-later {
  position: absolute;
  top: 40px;
  left: 230px;
  color: red;
  z-index: 101;
}

div.action-like {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: red;
}
